<div id="content">
Hello, World!
</div>
<div id="links">
	<%# linkToObject, "Page 1", $template1 %>
	<%# linkToObject, "Page 2", $template2 %>
	<%# linkToObject, "Page 3", $template3 %>
</div>
	
<table>
	<tr>
		<td>
<%= embedObject $pedigreeView %>
	</tr>
</table>
</div>