http://saildataservice.concord.org/2/offering/9472/jnlp/97856/view?sailotrunk.otmlurl=%otml_url%&sailotrunk.hidetree=false&jnlp_properties=sail.bundle.upload.unlimited.time%3Dtrue%26sail.bundle.upload.force%3Dtrue