<h2>Table View</h2>

<h3> Folder Name: <%= $model.name %></h3>
<table>
  <tr><th>Child Name</th><th>Child Text</th></tr>
<% $model.children.vector.each do |child| %>
  <tr><td><%= child.name %></td> <td><%= child.text %></td></tr> 
<% end %>
</table>

<hr/>
<%= linkToObjectAction "List View", $model, "page1" %>

