<h2>List View</h2>

<h3> Folder Name: <%= $model.name %></h3>
Children
<ul>
<% $model.children.vector.each do |child| %>
  <li>Child Name: <%= child.name %> Child Text: <%= child.text %></li> 
<% end %>
</ul>

<hr/>
<%= linkToObjectAction "Table View", $model, "page2" %>

