body { 
  font-size: 14; 
  FONT-STYLE: normal; 
  FONT-FAMILY: Verdana, Arial; 
  FONT-VARIANT: normal; 
  TEXT-DECORATION: none 
} 
a { 
  text-decoration: none; 
} 
DIV.body { 
  FONT-WEIGHT: bolder; 
  FONT-STYLE: normal; 
  FONT-FAMILY: Verdana, Arial; 
  FONT-VARIANT: normal; 
  TEXT-DECORATION: none 
} 
DIV.story { 
  FONT-WEIGHT: bolder; 
} 
DIV.activity-title { 
  font-size: 28; 
  FONT-WEIGHT: bold; 
} 
DIV.title { 
  font-size: 25; 
  FONT-WEIGHT: bold; 
} 
DIV.subtitle { 
  font-size: 20; 
  FONT-WEIGHT: bold; 
}  
DIV.subtitle-continued { 
  padding-top: 8px; 
  padding-bottom: 8px; 
  FONT-WEIGHT: bold; 
} 
DIV.todo { 
  padding-top: 10px; padding-bottom: 10px; color: red; font-size: 22; 
}
DIV.credit {
  font-size: 10;
}