body {
  BACKGROUND-COLOR: rgb(255, 255, 255);
}
DIV.body {
  BACKGROUND-COLOR: rgb(250, 255, 255);
}           
DIV.body-no-border {            
  BACKGROUND-COLOR: rgb(250, 255, 255);           }           
DIV.story {            
  BORDER-COLOR: blue;            
  BACKGROUND-COLOR: rgb(210,230,255); 
  COLOR: rgb(0,0,0);           }           
DIV.story-border {  
  BACKGROUND-COLOR: rgb(105, 90, 167);
}           
DIV.activity-title {
  COLOR: rgb(0,0,0);
}             
DIV.title {  
  COLOR: rgb(0,0,0); 
}
DIV.subtitle {
  COLOR: rgb(0,0,0);
}           
DIV.leftpanel { 
  BACKGROUND-COLOR: rgb(77, 186, 117);
}
DIV.buffer {
  BACKGROUND-COLOR: rgb(255, 255, 255);
}             
DIV.border {  
  BACKGROUND-COLOR: rgb(190, 190, 255);
}            
DIV.definition-border {
  BACKGROUND-COLOR: rgb(0, 0, 255);
}            
DIV.question {  
  BACKGROUND-COLOR: rgb(230, 230, 250);
}           
DIV.hint {
  COLOR: rgb(0,0,0);
}
container.leftpanel {
  COLOR: rgb(190, 190, 255);
}
leftmenu {
  COLOR: rgb(190, 190, 255);
}
