<div id="content">
  <h1>Hanging With Friends Report</h1>
  
  <h3>Roller Blade Runs</h3>
  <ul>
  <% users.each do |user|
    userRollerbladeScriptObject = userObject( $rollerbladeScriptObject, user)
    %>
    <li><%= user.name %> ran the model <%= userRollerbladeScriptObject.contents.size %> times</li>
  <% end %>
  </ul>
</div>