<div id="content">
  <h1>Hanging With Friends Report</h1>
  
  <h3>Roller Blade Runs</h3>
  <table>
  	<tr><td>Name</td><td>Rollerblade model</td><td>Bus model</td><td>Racecar model</td></tr>
  <% users.each do |user|
    models = []
    models << userObject( $rollerbladeScriptObject, user)
    models << userObject( $busScriptObject, user)
    models << userObject( $racecarScriptObject, user)
    %>
    <tr><td><%= user.name ? user.name : "Anonymous" %></td>
    <% models.each do |model| %>
	    <td>
	    <% total = 0 %>
	    <%= model.contents.vector.select{|o| o.respond_to? "model_runs"}.collect{|o| total += o.model_runs.size} %> <%= total == 1 ? "time" : "times" %>
	    </td>
    <% end %>
    </tr>
  <% end %>
  </table>
</div>