<div id="content">

  <h1>Critical Thinking Section </h1>
  
  <h3>Text responses</h3>
  <p>Please select one or more example text responses which will appear on the student computers in a later step.</p>
  <%= embedObject($text, $picknview) %>
  
  <h3>Graph notations</h3>
  <p>Please select one or more example graphs which will appear in on the student computers in a later step.</p>
  <%= embedObject($graph, $picknview) %>
</div>