<div id="content">

  <h1>Critical Thinking Section </h1>
  <p>Graph notations</p>
  <p>Please select one or more example graphs which will appear in on the student computers in a later step.</p>
  <%= embedObject($graph, $pick-n-view) %>
</div>