<h1>Pick N Objects</h1>
<% entries = $pick_n_objectmap.getEntries() %>
<% entries.getObjectKeys().each do |k| %>
  <h3><%= k %></h3>
  <%= embedPickN(entries.getObject(k)) %><br/>
<% end %>

<h1>Poll Results</h1>
<% entries = $poll_objectmap.getEntries() %>
<% entries.getObjectKeys().each do |k| %>
  <h3><%= k %></h3>
  <%= embedPoll(entries.getObject(k)) %><br/>
<% end %>