<div class="menu">
  <table>
    <tr>
      <td><div class="menu_item"><%= linkToUnitPage "Unit Summary" %></div></td>
      <td><div class="menu_item"><%= linkToObject "Back to TTS", activityRoot(), $tts_view %></div></td>
    </tr>
  </table>
</div>
<hr />

  <h2>Text-to-speech</h2>

  <% 
	text = ''
	sep = '|'
	sections = unitSections() 
	
	text += sep
	sections.each do |section|
		text += section.name + sep
	end
	text += "\n"
	    
	@users.each do |user|
		user_name = user.name
	    	if user_name == nil or user_name.empty? then user_name = "blank" 
	    end
	    text +=user_name + sep
	    
	    sections.each do |section|
	    	text += ttsInstances(section, user).to_s + sep
	   	end
	    text += "\n"
	end
  %>
 
<p/>
<h3>Text-to-speech instances for <%= unitTitle %></h3>
<pre>
<%=text%>
</pre>

  