body { 
  font-size: 18; 
  font-style: normal; 
  font-family: Verdana, Arial; 
  font-variant: normal;
  text-decoration: none;
  background-color: rgb(255, 255, 255);  
}
a { 
  text-decoration: none; 
}
div.body {
  margin: 5px; 
  padding: 8px;
  height: 100%;
  font-style: normal; 
  font-family: verdana, arial; 
  font-variant: normal;
  text-decoration: none;
  background-color: rgb(250, 255, 255);  
}
DIV.body-no-border {            
  background-color: rgb(250, 255, 255);         
}
div.leftpanel { 
  background-color: rgb(190, 190, 255);
}
div.border {  
  padding: 3px; 
  background-color: rgb(255, 193, 37);
}
div.definition-border {
  padding: 3px; 
  background-color: rgb(0, 0, 255);
}            
div.story {
  padding: 5px;	 
  font-weight: bolder;
  border-color: blue;            
  background-color: rgb(210,230,255); 
  color: rgb(0,0,0);           
}
div.story-border {
  padding: 1px;	  
  background-color: rgb(100, 130, 200);
}           
div.activity-title {
  margin: 2px 10% 10px;	 
  font-size: 25;
  font-weight: bold;
  color: rgb(0,0,0);  
}
div.title {
  padding-bottom: 10px; 
  padding-left: 20px;
  padding-top: 10px; 
  margin: 2px 10% 10px;
  font-size: 20;
  font-weight: bold;
  color: rgb(0,0,0);            
}
div.top-menu 
{            
  text-ALIGN: right;           
}
div.subtitle {
  color: rgb(0,0,0);	
  padding-bottom: 10px;
  padding-left: 20px;
  padding-top: 10px;
  margin: 2px 10% 10px;
  font-size: 24;
  font-weight: bold;
}           
div.subtitle-continued {
  padding-bottom: 8px;
  padding-top: 8px;
  font-weight: bold;
}
div.page-number {
  padding-bottom: 8px;
  padding-top: 8px;
  font-weight: bold;
}
div.buffer {
  padding: 10px;    
  background-color: rgb(255, 255, 255);
}
div.question {  
  background-color: rgb(230, 230, 250);
}           
div.hint {
  color: rgb(0,0,0);
}
container.leftpanel {
  color: rgb(190, 190, 255);
}
leftmenu {
  color: rgb(190, 190, 255);
}
div.credit {
  font-size: 10;
}
div.prompt {
	padding-bottom: 8px;
}
h1 { 
	color:#FFD32C; 
	font-size:1.5em; 
	margin-bottom:0px; 
}
h2 { 
	color:#FFD32C; 
	font-size:1.3em; 
	margin-bottom:0px; 
}
h3 { 
	color:#FFD32C; 
  font-size:1.1em; 
	margin: 2em 0em 1em 0em; 
}
.menu { 
	color: #982f10; 
	background-color: #fffee9;  
	color: #982f10; 
	margin: 0px 1px; 
	padding: 5px; 
}
.menu_item { 
	background-color: #fffee9; 
	color: #982f10; 
	margin: 1px 0px; 
	padding: 0px 10px; 
}
.menu_item a { 
	color: #51a656; 
}
.menu_item.selected a { 
	color: #318636; 
}
#navlist ul { 
	margin: 0; 
	padding: 0; 
	list-style: none; 
	width: 150px; 
}
#navlist li { 
	display: inline; 
	list-style-type: none;
	list-style-type: none; 
	padding-right: 10px; 
}
#content { 
	margin:5px; 
	padding:5px; 
}
div.report_body {
	 background-color: #fffee9;
}
div.report_question {
  background-color: #ffffff;
	border-style: solid;
	border-width: thin;
	padding: 5px;
	margin: 5px;
  font-size: 0.9em;
  font-weight: normal; 	
}

