h1 { 
	color:#FFD32C; 
	font-size:1.5em; 
	margin-bottom:0px; 
}
h2 { 
	color:#FFD32C; 
	font-size:1.3em; 
	margin-bottom:0px; 
}
h2 { 
	color:#FFD32C; 
	font-size:1.1em; 
	margin: 2em 0em 1em 0em; 
}
.menu { 
	color: #982f10; 
	background-color: #fffee9;  
	color: #982f10; 
	margin: 0px 1px; 
	padding: 5px; 
}
.menu_item { 
	background-color: #fffee9; 
	color: #982f10; 
	margin: 1px 0px; 
	padding: 0px 10px; 
}
.menu_item a { 
	color: #51a656; 
}
.menu_item.selected a { 
	color: #318636; 
}
#navlist ul { 
	margin: 0;
	padding: 0; 
	list-style: none; 
	width: 150px; 
}
#navlist li { 
	display: inline; 
	list-style-type: none;
	list-style-type: none; 
	padding-right: 10px; 
}
#content { 
	margin:5px; 
	padding:5px; 
}
table.a { 
	border-width: 1; 
	border-color: ffd0c0; 
}
th.a { 
	border-width: 1; 
	border-color: ffd0c0; 
}
td.a { 
	border-width: 1; 
	border-color: ffd0c0; 
}

div.report_question {
  background-color: #ffffff;
  border-style: solid;
  border-width: thin;
  padding: 5px;
  margin: 5px;
  font-size: 0.9em;
  font-weight: normal;  
}

