body {
  BACKGROUND-COLOR: rgb(255, 255, 255);
}
DIV.body {
  BACKGROUND-COLOR: rgb(250, 255, 255);
}           
DIV.body-no-border {            
  BACKGROUND-COLOR: rgb(250, 255, 255);           
}           
DIV.story {            
  BORDER-COLOR: rgb(255, 193, 37);            
  BACKGROUND-COLOR: rgb(255, 245, 223); 
  COLOR: rgb(0,0,0);           
}           
DIV.story-border {  
  BACKGROUND-COLOR: rgb(255, 193, 37);
}           
DIV.activity-title {
  COLOR: rgb(0,0,0);
}             
DIV.title {  
  COLOR: rgb(0,0,0); 
}
DIV.subtitle {
  COLOR: rgb(0,0,0);
}           
DIV.leftpanel { 
  BACKGROUND-COLOR: rgb(250, 255, 255);
}
DIV.buffer {
  BACKGROUND-COLOR: rgb(255, 255, 255);
}             
DIV.border {  
  BACKGROUND-COLOR: rgb(255, 193, 37);
}            
DIV.definition-border {
  BACKGROUND-COLOR: rgb(0, 0, 255);
}            
DIV.question {  
  BACKGROUND-COLOR: rgb(250, 255, 255);
}           
DIV.hint {
  COLOR: rgb(0,160,0);
}
container.leftpanel {
  COLOR: rgb(255, 193, 37);
}
leftmenu {
  COLOR: rgb(255, 193, 37);
}