<table border='1' width='800'>
  <tr>
  	<td>Base</td>
  	<td><%= embedObjectFromUserOverlay($object, nil) %></td>
  </tr>
  <% users.each do |u| %>
  <tr>
    <td><%= u.name %></td>
    <td><%= embedObjectFromUserOverlay($object, u) %></td>
  </tr>
  <% end %>
  <tr>
  	<td colspan='2'>
  		<object refid="6f40afaf-9e6c-4dc3-a284-b5d3cf772a2c" />
  	</td>
  </tr>
</table>