<div class="menu">
  <table>
    <tr>
      <td>
        <div class="menu_item">
          <%= @controller.linkToObject("Main", @otrunkHelper.rootObject.reportTemplate, $unit_view) %>
        </div>
      </td>
      <td>
        <div class="menu_item">
          <%= @controller.linkToObject("Rubric", @otrunkHelper.rootObject.reportTemplate, $rubric_view) %>
        </div>
      </td>
    </tr>
  </table>
</div>

<pre>
<%= getCsvText %>
</pre>
