<div class="menu">
  <table>
    <tr>
	  <td><div class="menu_item"><%= linkToObject "Main", rootObject.reportTemplate, $unit_view %></div></td>
    </tr>
  </table>
</div>

<pre>
<%= getCsvText %>
</pre>

