
<div class="menu">
  <table>
    <tr>
	  <td><div class="menu_item"><%= @controller.linkToObject "CSV", @otrunkHelper.rootObject.reportTemplate, $csv_view %></div></td>
    </tr>
  </table>
</div>

<hr />

<div id="content">
  <h3><%= $title.getText %></h3>
  <table class="a" cellpadding="5px">
    <% for user in @otrunkHelper.users %>
      <tr class="a">
  		<td class="a"><%= user.getName %></td>
  		<% for question in @questions.questions %>
  		<td class="a"><%= surveyAnswerText(user, question) %></td>
  		<% end %>
      </tr>
    <% end %>
  </table>
</div>