<div class="menu">
  <table>
    <tr>
	  <td><div class="menu_item"><%= @controller.linkToObject "Main", @otrunkHelper.rootObject.reportTemplate, $unit_view %></div></td>
    </tr>
  </table>
</div>

<pre>
<%= getSurveyCsvText %>
</pre>
