DIV.body {
  MARGIN: 5px; 
  PADDING: 8px;
  height: 100%;
}           
DIV.story {
  padding: 5px;
}
DIV.story-border {
  padding: 1px;
}
DIV.activity-title {
  MARGIN: 2px 10% 10px;
}             
DIV.title {              
  PADDING-BOTTOM: 10px; 
  PADDING-LEFT: 20px;
  PADDING-TOP: 10px; 
  MARGIN: 2px 10% 10px;
}           
DIV.subtitle {
  PADDING-BOTTOM: 10px;
  PADDING-LEFT: 20px;
  PADDING-TOP: 10px;
  MARGIN: 2px 10% 10px;
}           
DIV.subtitle-continued {
  padding-bottom: 8px;
  padding-top: 8px;
}
DIV.page-number {
  padding-bottom: 8px;
  padding-top: 8px;
}
DIV.buffer {
  PADDING: 10px;  
}             
DIV.border {
  PADDING: 3px;
}            
DIV.definition-border { 
  PADDING: 3px;
}           
DIV.top-menu 
{            
  TEXT-ALIGN: right;           
}
