body { 
  font-size: 23; 
  FONT-STYLE: normal; 
  FONT-FAMILY: Verdana, Arial; 
  FONT-VARIANT: normal; 
  TEXT-DECORATION: none 
} 
a { 
  text-decoration: none; 
}  
DIV.body { 
  FONT-WEIGHT: bolder; 
  FONT-STYLE: normal; 
  FONT-FAMILY: Verdana, Arial; 
  FONT-VARIANT: normal; 
  TEXT-DECORATION: none 
} 
DIV.story { 
  FONT-WEIGHT: bolder; 
} 
DIV.activity-title { 
  font-size: 34; 
  FONT-WEIGHT: bold; 
} 
DIV.title {
  font-size: 30; 
  FONT-WEIGHT: bold; 
} 
DIV.subtitle { 
  font-size: 27; 
  FONT-WEIGHT: bold; 
}  
DIV.subtitle-continued { 
  FONT-WEIGHT: bold; 
}
DIV.todo { 
  padding-top: 10px; padding-top: 10px; color: red; font-size: 22; 
}