body { 
  font-size: 18; 
  FONT-STYLE: normal; 
  FONT-FAMILY: Verdana, Arial; 
  FONT-VARIANT: normal;
  TEXT-DECORATION: none
}
a { 
  text-decoration: none; 
}
DIV.body { 
  FONT-STYLE: normal; 
  FONT-FAMILY: Verdana, Arial; 
  FONT-VARIANT: normal;
  TEXT-DECORATION: none
}           
DIV.story { 
  FONT-WEIGHT: bolder; 
}
DIV.activity-title { 
  font-size: 29;
  FONT-WEIGHT: bold;
}
DIV.title {
  font-size: 30;
  FONT-WEIGHT: bold;           
}           
DIV.subtitle { 
  font-size: 25;
  FONT-WEIGHT: bold;
}           
DIV.subtitle-continue {
  font-size: 20;
  font-weight: bold;
}
