<div id="content">
  <%= embedObject $model %>  

  <hr/>
  <h2>Related Activity's Learning Goals</h2>
  <% $model.getActivityReferences.vector.each do |activityReference| %>
    <% activity = activityReference.referencedObject %>
    <h3><%= activity.name %></h3>      
    <%= activity.goals.gsub(/$/, "<br/>") if activity.goals %>
    
  <% end %>
</div>
