<div class="report_body">
  <h2>Digital Multimeter Test</h2>
  <br/>
  <h3>Summary</h3>
  <div class="report_question">
    Grade: <%= Qstn.getPoints(nil) %> out of <%= Qstn.totalMaxPoints() %>
  </div>
  <h3>Questions</h3>
  <% for question in Qstn.questions do %>
    <div class="report_question">
      <%= presentQuestion(question) %>
    </div>
  <% end %>
</div>


